@charset "UTF-8";

.showtime-box {
	position: relative;
	cursor: pointer;
}

.hidden-checkbox {
	display: none;
}

.showtime-card {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	background-color: #f8f9fa;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: background-color 0.3s, transform 0.2s;
	min-width: 70px;
	text-align: center;
}

.hidden-checkbox:checked ~ .showtime-card {
	background-color: rgba(13, 110, 253, 0.2);
	color: #00193d;
	border-color: #0a58ca;
}

/* .hidden-checkbox:checked+.showtime-card {
    background-color: rgba(13, 110, 253, 0.2);
    color: #00193d;
    border-color: #0a58ca;
}
 */

/* 
.showtime-box {
	position: relative;
	cursor: pointer;
}

.showtime-box input {
	display: none;
}

.showtime-card {
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	background-color: #f8f9fa;
	border: 1px solid #ccc;
	border-radius: 5px;
	transition: 0.3s;
	min-width: 70px;
	text-align: center;
}

.showtime-box input:checked + .showtime-card {
    background-color: rgba(13, 110, 253, 0.2);
    color: #00193d;
    border-color: #0a58ca;
}
 */